body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin: 20px 0;
}

.event-category {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-category h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.event-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 15px;
}

.event-item h3 {
    font-size: 1.2rem;
    margin: 0;
}

.event-item button {
    padding: 10px 20px;
    background-color: #f8b400;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.event-item button:hover {
    background-color: #f69e00;
}

#christmas-countdown, #newyear-countdown {
    font-size: 1.1rem;
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
